@use "sass:map";
@import "normalize";

$theme-color-default: #c05b4d;
$theme-color-Mint-Green: #16982B;
$theme-color-Cobalt-Blue: #0047AB;
$theme-color-Hot-Pink: #FF69B4;
$theme-color-Dark-Violet: #9932CC;


$text-colour: #34495e;
$main-colour: #c05b4d;
$secondary-colour: #f8f5ec;
$background-color: #fefefe;
$body-width: 750px;
$code-colour: #c7254e;
$code-font-family: monospace !default;
$decoration-font-family: sans-serif;

@mixin underline-from-center() {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        height: 2px;
        bottom: 0;
        left: 51%;
        right: 51%;
        background: $main-colour;
        transition-duration: 0.2s;
        transition-property: right, left;
        transition-timing-function: ease-out;
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
        &:before {
            right: 0;
            left: 0;
        }
    }
}

body {
    line-height: 1.5;
    color: $text-colour;
    background: $background-color;
    padding-top: 100px;
}

.container {
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: $body-width;
    margin: 0 auto;
    font-size: 18px;
}

header {
    border-top: 3px solid $main-colour;
    margin-bottom: 0em;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background: $background-color;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;

    h1 {
        @include underline-from-center;
        margin: 0;
        text-align: center;
    }

    a,
    a:visited {
        color: $text-colour;
        text-decoration: none;
    }

    box-shadow: 0px 5px 5px lightgrey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $decoration-font-family;
    margin-bottom: 0;
}

main {
    .subtitle {
        margin-top: 0;
        font-size: 14px;
        color: #8a8a8a;
    }

    a:hover {
        border-bottom: 1px solid $main-colour;
    }
}

a {
    color: $main-colour;
    text-decoration: none;
}

pre {
    padding: 1em;
}

pre,
code {
    overflow: auto;
    font-family: $code-font-family;
    margin-bottom: 0;
    border-radius: 4px;
    color: $code-colour;
}

p>code {
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 90%;
    background: $secondary-colour;
}

img {
    max-width: $body-width;
    margin: auto;
    display: block;
}

article {
    h1 {
        font-size: 1.6em;
        font-weight: 400;
        margin-top: 1.5em;
    }

    h2 {
        font-size: 1em;
        font-weight: 800;
        margin-top: 1em;
    }

    h1+p {
        margin-top: 0.3em;
    }

    h2+p {
        margin-top: 0.1em;
    }
}

blockquote {
    margin: 2em 0;
    padding: 10px 20px;
    color: rgba($text-colour, 0.8);
    background-color: rgba($theme-color-default, .05);
    border-left: 3px solid rgba($theme-color-default, .3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .125);

    p {
        margin: 0;
    }

    h3 {
        margin: 0;
        font-size: 1em;
        font-weight: bold;
    }
}

.update {
    background-color: rgba($theme-color-Mint-Green, .05);
    border-left: 3px solid rgba($theme-color-Mint-Green, .3);
}

.date {
    color: #8a8a8a;
}

figure {
    text-align: center;
    border: lightgray 1px solid;
    padding: 1rem;
    width: 80%;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 5px;

    figcaption {
        font-size: 80%;
        font-style: italic;
    }

    img {
        max-width: 100%;
    }
}

.sidenote {
    float: right;
    clear: right;
    width: 30%;
    margin-right: calc((30% + 2em) * -1);
    font-size: small;
    font-weight: lighter;
}

.hidden {
    display: none;
}

.sidenote-symbol {
    font-weight: bold;
    vertical-align: super;
}

@media (max-width: 1100px) {
    .sidenote {
        width: 100%;
        margin: 1em 0;
        padding: 0 1em;
        display: none;
    }

    .peer:checked~.sidenote {
        display: block;
    }

    .sidenote-symbol {
        font-weight: bold;
        vertical-align: super;
        cursor: pointer;
        text-decoration: underline;
    }
}

footer {
    text-align: center;
    img {
        margin: 0;
        display: inline;
    }
}
