<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  {% endblock %}
  <title>The Life and Opinions of Tristram Gräbener, Developper</title>
  <link rel="stylesheet" href="{{get_url(path="style.css")}}">
</head>

<body>
  <header>
    <h1><a href="/">Tristram Gräbener, Life and Opinions</a></h1>
  </header>
  <div class="container">
    {% block content %} {% endblock %}
  </div>
  <footer>
    <small>Nombre de visites sur cette page <img referrerpolicy="no-referrer-when-downgrade" src="https://compteurs.enliberte.fr/hit/uv22dlqsno54zxj"alt="Compteurs de visites" /></small>
  </footer>
</body>

</html>
